.about {
  padding-bottom: 8%;

  @include tablets {
    padding-bottom: 9%;
  }

  @include phones {
    padding-bottom: 10%;
  }
}

.about__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

    @include large-tablets {
      flex-wrap: wrap;
      padding-right: 35px;
      padding-left: 35px;
    }

    @include phones {
      flex-wrap: wrap;
      padding-right: 20px;
      padding-left: 20px;
    }
}

.about__content-foto {
  border: 7px double;
  border-color: #8967aa #ea4aaa #00cfc8 #627597;
  max-width: 30%;
  z-index: 2;
  border-radius: 3%;
  margin-right: 5%;

    @include large-tablets {
      max-width: 280px;
      margin-bottom: 47px;
      margin-right: 0;
    }

    @include phones {
      max-width: 220px;
    }
}

.about__text {
  text-align: justify;
  font-size: 18px;
  z-index: 2;

    @include large-tablets {
      font-size: 16px;
    }

    @include phones {
      font-size: 15px;
    }
}