.achievement {
  padding-bottom: 8%;

  @include tablets {
    padding-bottom: 9%;
  }

  @include phones {
    padding-bottom: 10%;
  }
}

.achievement__content {
  position: relative;
  z-index: 2;
  margin-left: 10%;
  margin-right: 10%;
}