.btn {
  margin-right: 17px;
  border-radius: 100px;
  background: transparent;
  color: $raspberry;
  border: 5px dotted;
  border-color: $violet $raspberry $azure $grey;
  padding: 10px 20px;
  font-size: 16px;
  font-family: unset;
  font-weight: bold;

    &:hover {
      color: $azure;
    }

    &:last-child {
      margin-right: 0;
    }

    @include phones {
      font-size: 15px;
    }
}