.btn {
  margin-right: 17px;
  border-radius: 100px;
  background: transparent;
  color: $raspberry;
  border: 5px dotted;
  border-color: $violet $raspberry $azure $grey;
  padding: 10px 20px;
  font-size: 16px;
  font-family: unset;
  font-weight: bold;

    &:hover {
      color: $azure;
    }

    &:last-child {
      margin-right: 0;
    }

    &--projects {
      text-transform: uppercase;
      padding: 10px 40px;
      text-align: center;
    }

    @include phones {
      font-size: 15px;
    }
}

.projects__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  z-index: 2;
}