.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
  padding-bottom: 2%;

    @include large-tablets {
      padding-bottom: 13%;
    }

    @include phones {
      padding-bottom: 16%;
    }
}

.contacts__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.contacts__img {
  width: 22%;
  margin-right: 40px;
  margin-bottom: 20px;
  z-index: 2;

    @include phones {
      display: none;
    }
}

.contacts__items {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

    @include tablets {
      margin-bottom: 40px;
    }

    @include small-phones {
      padding-left: 1%;
      padding-right: 1%;
    }
}

.contacts__item {
  font-size: 20px;

    @include large-tablets {
      font-size: 18px;
    }

    @include tablets {
      padding-bottom: 10px;

        &:last-child {
          padding-bottom: 0;
        }
    }

    @include small-phones {
      font-size: 15px;
    }

    &--habr {
      
      @include phones {
        display: none;
      }
    }

    &--habr-ph {
      display: none;
      
      @include phones {
        display: flex;
      }
    }
}

.contacts__link {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s all;

    &:hover {
      color: $raspberry;
    }
}