.footer {
  z-index: 2;
  margin: 0 auto;
  width: 100%;
  bottom: 0;
  min-height: 90px;
  background: #040d21;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 85%;
  max-width: $containerWidth;
  min-height: 90px;

    @include tablets {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}

.footer__content {
  text-align: center;

    @include tablets {
      margin-bottom: 5%;
    }

    @include phones {
      margin-bottom: 7%;
      font-size: 17px;
    }
}