.header {
  display: flex;
  position: relative;
  background-color: #040d21;
  font-size: 21px;
  z-index: 2;
  min-height: 100px;

    @include phones {
      min-height: 80px;
      height: 80px;
    }
}

.header__container {
  margin: 0 auto;
  width: 95%;
  max-width: $containerWidth;
  display: flex;
  justify-content: space-between;
  align-items: center;

    @include large-tablets {
      width: 80%;
    }
}