.menu__list {
  display: flex;
  justify-content: center;
  align-items: center; 
  white-space: nowrap;
  flex-wrap: wrap;

    @include large-tablets {
      display: none;
    }
}

.menu__item {
  margin-right: 55px;

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(1) {
      @include hover {
        color: $azure;
      }
    }

    &:nth-child(2) {
      @include hover {
        color: $raspberry;
      }
    }

    &:nth-child(3) {
      @include hover {
        color: $yellow;
      }
    }

    &:nth-child(4) {
      @include hover {
        color: $violet;
      }
    }

    &:nth-child(5) {
      @include hover {
        color: $lime;
      }      
    }

    &:nth-child(6) {
      @include hover {
        color: #9b9a9a;
      }      
    }

    &--projects {

      &:nth-child(1) {
        @include hover {
          color: $violet;
        }
      }

      &:nth-child(2) {
        @include hover {
          color: $azure;
        }
      }
    }
}