.owl-item {
  max-height: 700px;

    &cloned {
      max-height: 700px;
    }

    &active {
      max-height: 700px;
    }
}

.owl-carousel-img {
  max-width: 500px;
}

.owl-nav {
  text-align: center;
  margin-top: 25px;
}

.owl-next, .owl-prev {
  position: absolute;
  top: 45%;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 46px;

  @include hover {
    background: transparent;
    color: #FEC738;
  }
}

.owl-prev {
  right: auto;
  left: -7%;

    @include phones {
      left: -8%;
    }

    @include small-phones {
      left: -9%;
    }
}

.owl-next {
  left: auto;
  right: -7%;

    @include phones {
      right: -9%;
    }

    @include small-phones {
      right: -9%;
    }
}

.owl-dots {

  @include large-tablets {
    display: block;
  }
}