.title {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-size: 37px;
  text-align: center;
  padding-bottom: 50px;

    @include large-tablets {
      font-size: 33px;
    }

    @include phones {
      font-size: 30px;
      padding-bottom: 40px;
    }
}

.title--portfolio {

    @include small-phones {
      padding-bottom: 20px;
    }

    &:after {
      content: "";
      background: url('../img/icons/pickaxe.png') no-repeat;
      margin-top: 15px;
      background-size: 80%;
      width:60px;
      height: 60px;

        @include large-tablets {
          background-size: 70%;
          margin-top: 20px;
        }

        @include phones {
          background-size: 65%;
          margin-top: 25px;
        }

        @include small-phones {
          background-size: 60%;
          margin-top: 30px;
        }
    }
}

.title--chick {

    &:before {
      content: "";
      background: url('../img/icons/chick.svg') no-repeat;
      margin-right: 11px;
      width:60px;
      height: 60px;

        @include phones {
          width: 55px;
          height: 55px;
        }
    }
}

.title--bee {
  
    &:after {
      content: "";
      background: url('../img/icons/bee.svg') no-repeat;
      margin-left: 11px;
      width:60px;
      height: 60px;

        @include phones {
          width: 55px;
          height: 55px;
        }
    }
}

.title--skills {
  margin-bottom: 10px;
  
    &:after {
      content: "";
      background: url('../img/icons/mouse.svg') no-repeat;
      margin-left: 11px;
      width:55px;
      height: 55px;

        @include phones {
          width: 50px;
          height: 50px;
        }
    }
}

.title--galaxy {
  
    &:before {
      content: "";
      background: url('../img/icons/galaxy.svg') no-repeat;
      margin-right: 20px;
      width:55px;
      height: 55px;

        @include phones {
          width: 50px;
          height: 50px;
        }
    }
}